# CA default config
[ -n "${CA_PATH+x}" ] || CA_PATH="default-ca"
[ -n "${CA_DAYS+x}" ] || CA_DAYS=3650
[ -n "${CA_KEY_ALG+x}" ] || CA_KEY_ALG="ec:secp384r1"
[ -n "${CA_KEY_ENC+x}" ] || CA_KEY_ENC="1"

# Certificate default config
[ -n "${CERT_DAYS+x}" ] || CERT_DAYS=365
[ -n "${CERT_EXPIRE_DAYS+x}" ] || CERT_EXPIRE_DAYS=14
[ -n "${CERT_KEY_ALG+x}" ] || CERT_KEY_ALG="ec:prime256v1"
[ -n "${CERT_KEY_ENC+x}" ] || CERT_KEY_ENC="1"
